/* CSS styling and to allow for responsiveness from: https://github.com/DevLHB/navbar-app */
.Navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #5265c4;
  }
  
  .Navbar > .nav-logo {
    font-weight: 700;
    font-size: 21px;
    margin: 15px;
    color: #ffffff;
  }
  
  .Navbar > .nav-items {
    display: flex;
    flex-direction: row;
  }

  .Navbar > .nav-items > .text > a{
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    margin: 25px;
    position: relative;
  }
  
  .Navbar > .nav-items > .active > a {
    color: white;
    text-decoration: underline;
  }
  
  .Navbar > .nav-toggle {
    display: none;
  }
  
  .nav-logo a:-webkit-any-link { 
    text-decoration: none;
    color: white;
   }
